* {
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: column;
    background: url('./Rectangle\ 47.png');
    width: 100%;
    height: 516px;
    text-align: center;
}

footer main {
    text-align: center;
}

footer main h1 {
    padding-top: 145px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    /* identical to box height, or 142% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

footer main p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height, or 158% */

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

footer main button {
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 31px;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;

    width: 142px;
    height: 64px;

    /* background: #FA4A0C; */
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

footer main button:hover {
    width: 142px;
    height: 64px;

    background: #FA4A0C;
    border-radius: 10px;
}


footer main .p {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.tegi {
    margin-top: 37px;
    width: 1210px;
    height: 133px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

